.inputImg{
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    /* display: flex; */
}

.content{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

}

.image{
    width: 47%;

}

.information{
    margin-left: 10px;
    font-size: 20px;
}

.loading{
    font-size: 40px;
}